Node-RED/Flows/LSE01_to_PG.json
[{"id":"51152238.65dcec","type":"debug","z":"9f46b43d.225938","name":"msg params for sql insert statement","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":480,"y":160,"wires":[]},{"id":"1e6bdd10.214bb3","type":"mqtt in","z":"9f46b43d.225938","name":"hsrw_iotlab_lse01","topic":"+/devices/+/up","qos":"2","datatype":"json","broker":"3b9585de.78901a","x":150,"y":80,"wires":[["f0350922.5194d8","142daac8.a68125"]]},{"id":"f0350922.5194d8","type":"function","z":"9f46b43d.225938","name":"msg.params","func":"\nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\n\nvar input = msg.payload;\n\ndev_id = input.dev_id;\ntime   = input.metadata.time;\n\nsoil_moisture                = input.payload_fields.soil_sensor.moisture.value;\nsoil_temperature             = input.payload_fields.soil_sensor.temperature.value;\nsoil_electrical_conductivity = input.payload_fields.soil_sensor.electrical_conductivity.value;\nbattery_voltage  = input.payload_fields.battery_voltage.value;\n\nmsg1.params = [dev_id, time, \"bat\", battery_voltage];\nmsg2.params = [dev_id, time, \"sm\", soil_moisture];\nmsg3.params = [dev_id, time, \"ec\", soil_electrical_conductivity];\nmsg4.params = [dev_id, time, \"temp\", soil_temperature];\n\nreturn [msg1, msg2, msg3, msg4];\n\n","outputs":4,"noerr":0,"x":170,"y":180,"wires":[["164ae8ba.2ff197","51152238.65dcec"],["164ae8ba.2ff197","51152238.65dcec"],["51152238.65dcec","164ae8ba.2ff197"],["51152238.65dcec","164ae8ba.2ff197"]]},{"id":"164ae8ba.2ff197","type":"postgrestor","z":"9f46b43d.225938","name":"hsrw.space emrp_lse01_test insert","query":"INSERT into emrp_lse01_test  \nvalues ($1, $2, $3, $4);\n","postgresDB":"c8a6cc11.e912d","output":true,"outputs":1,"x":480,"y":240,"wires":[["3c3f4a05.cb1ab6"]]},{"id":"3c3f4a05.cb1ab6","type":"debug","z":"9f46b43d.225938","name":"msg from SQL INSERT node","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":500,"y":320,"wires":[]},{"id":"142daac8.a68125","type":"debug","z":"9f46b43d.225938","name":"msg from TTN / MQTT (JSON object)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":80,"wires":[]},{"id":"3b9585de.78901a","type":"mqtt-broker","z":"","name":"hsrw_iotlab_lse01","broker":"eu.thethings.network","port":"8883","tls":"70175d8f.fa6ca4","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c8a6cc11.e912d","type":"postgresDB","z":"","name":"hsrw.space","host":"hsrw.space","hostFieldType":"str","port":"5432","portFieldType":"num","database":"emrp_axelor","databaseFieldType":"str","ssl":"false","sslFieldType":"bool","max":"10","maxFieldType":"num","min":"1","minFieldType":"num","idle":"1000","idleFieldType":"num","user":"emrp_axelor_master","userFieldType":"str","password":"xxxxxxxxxxxx","passwordFieldType":"str"},{"id":"70175d8f.fa6ca4","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true}]