Node-RED/Flows/LSE01_charts_flow.json
[{"id":"d789dd60.9201b","type":"tab","label":"LSE01_charts","disabled":false,"info":""},{"id":"a9b21db6.4f933","type":"mqtt in","z":"d789dd60.9201b","name":"hsrw_iotlab_lse01","topic":"+/devices/+/up","qos":"2","datatype":"json","broker":"3b9585de.78901a","x":150,"y":240,"wires":[["eb668219.29b78","f64cc3c6.9aec7"]]},{"id":"eb668219.29b78","type":"function","z":"d789dd60.9201b","name":"extract measurements","func":"\n// extract measurement values from payload\nvar input = msg.payload;\n\n// extract device from topic: last but one element\nvar lst = msg.topic.split(\"/\");\nvar device = lst[lst.length-2];\n\nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\n\nsoil_moisture                = input.payload_fields.soil_sensor.moisture.value;\nsoil_temperature             = input.payload_fields.soil_sensor.temperature.value;\nsoil_electrical_conductivity = input.payload_fields.soil_sensor.electrical_conductivity.value;\nbattery_voltage  = input.payload_fields.battery_voltage.value;\ntime = input.metadata.time;\n\n\nmsg1.topic = device + \"_soil_moisture\";\nmsg1.payload = soil_moisture;\nmsg1.timestamp = time;\n\nmsg2.topic = device + \"_soil_electrical_conductivity\";\nmsg2.payload = soil_electrical_conductivity;\nmsg2.timestamp = time;\n\nmsg3.topic = device + \"_soil_temperature\";\nmsg3.payload = soil_temperature;\nmsg3.timestamp = time;\n\nmsg4.topic = device + \"_battery_voltage\";\nmsg4.payload = battery_voltage;\nmsg4.timestamp = time;\n\nreturn [msg1, msg2, msg3, msg4];\n\n","outputs":4,"noerr":0,"x":460,"y":240,"wires":[["a38756a8.959e08","d49fe33b.d66e7"],["b7085988.ede398"],["5e5e25ac.a9edec"],["23014e31.81b612"]]},{"id":"a38756a8.959e08","type":"debug","z":"d789dd60.9201b","name":"msg OUT (Soil Moisture)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":120,"wires":[]},{"id":"d49fe33b.d66e7","type":"ui_chart","z":"d789dd60.9201b","name":"","group":"18ade59d.d3563a","order":0,"width":0,"height":0,"label":"Soil Moisture","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":180,"wires":[[]]},{"id":"5e5e25ac.a9edec","type":"ui_chart","z":"d789dd60.9201b","name":"","group":"4c94a814.e31d68","order":0,"width":0,"height":0,"label":"Soil Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":260,"wires":[[]]},{"id":"23014e31.81b612","type":"ui_chart","z":"d789dd60.9201b","name":"","group":"e10b4db0.4cdb2","order":0,"width":0,"height":0,"label":"Battery Voltage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"2.5","ymax":"3.5","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":740,"y":300,"wires":[[]]},{"id":"b7085988.ede398","type":"ui_chart","z":"d789dd60.9201b","name":"","group":"c591beec.52fac","order":0,"width":0,"height":0,"label":"Soil Electrical Conductivity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":220,"wires":[[]]},{"id":"58b426f3.b77fe8","type":"function","z":"d789dd60.9201b","name":"reset charts","func":"msg.payload=[];\nreturn [msg, msg, msg, msg];","outputs":4,"noerr":0,"x":490,"y":360,"wires":[["d49fe33b.d66e7"],["b7085988.ede398"],["5e5e25ac.a9edec"],["23014e31.81b612"]]},{"id":"f21fc238.226a2","type":"inject","z":"d789dd60.9201b","name":"","topic":"reset","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":360,"wires":[["58b426f3.b77fe8"]]},{"id":"8c3a1619.a7f528","type":"comment","z":"d789dd60.9201b","name":"README","info":"# LSE01 minimal\n\nMinimal flow to get data from the TTN application `hsrw_iotlab_lse01`.\n\nThe application collects data from Dragino LSE01 soil sensors (mainly moisture, temperature, electrical conductivity as well as battery voltage).\n\nThe messages coming from the LSE01 LoRa devices are decoded on TTN by means of a Javascript decoder.\n\nThe decoder on TTN looks like\n\n```\nfunction Decoder(bytes, port) {\n  // Decode an uplink message from a buffer\n  // (array) of bytes to an object of fields.\n  \n  var value=(bytes[0]<<8 | bytes[1]) & 0x3FFF;\n  var batV=value/1000;//Battery,units:V\n\n  value=bytes[2]<<8 | bytes[3];\n  if(bytes[2] & 0x80) \n    value |= 0xFFFF0000;\n  var temp_DS18B20=(value/10).toFixed(2);//DS18B20,temperature,units: °C\n  \n  value=bytes[4]<<8 | bytes[5];\n  var water_SOIL=(value/100).toFixed(2);//water_SOIL,Humidity,units:%\n  \n  value=bytes[6]<<8 | bytes[7];\n  var temp_SOIL;\n  if((value & 0x8000)>>15 === 0)\n    temp_SOIL=(value/100).toFixed(2);//temp_SOIL,temperature,units: °C\n  else if((value & 0x8000)>>15 === 1)\n    temp_SOIL=((value-0xFFFF)/100).toFixed(2);//temp_SOIL,temperature,units: °C\n   \n  value=bytes[8]<<8 | bytes[9];\n  var conduct_SOIL=(value);//conduct_SOIL,conductivity,units: uS/cm\n\n\n  return {\n    battery_voltage: {\n      value: batV,\n      unit: \"V\"\n    },\n    extra_temperature_sensor: {\n      value: temp_DS18B20,\n      unit: \"°C\",\n      comment: \"An extra DS18B20 connected to LSE01. Not connected by default.\"\n    },\n    soil_sensor: {\n      moisture: {\n        value: water_SOIL, \n        unit: \"%vol\"\n      },\n      temperature: {\n        value: temp_SOIL,\n        unit: \"°C\"\n      },\n      electrical_conductivity: {\n        value: conduct_SOIL,\n        unit: \"uS/cm\"\n      }\n    }\n  };\n}\n```\n","x":500,"y":120,"wires":[]},{"id":"f64cc3c6.9aec7","type":"debug","z":"d789dd60.9201b","name":"msg IN (TTN JSON object)","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":220,"y":120,"wires":[]},{"id":"3b9585de.78901a","type":"mqtt-broker","z":"","name":"hsrw_iotlab_lse01","broker":"eu.thethings.network","port":"8883","tls":"70175d8f.fa6ca4","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"18ade59d.d3563a","type":"ui_group","z":"","name":"LSE01_soil_moisture","tab":"f2d0eb86.a50bc8","order":1,"disp":false,"width":"6","collapse":false},{"id":"4c94a814.e31d68","type":"ui_group","z":"","name":"LSE01_soil_temperature","tab":"f2d0eb86.a50bc8","order":3,"disp":false,"width":"6","collapse":false},{"id":"e10b4db0.4cdb2","type":"ui_group","z":"","name":"LSE01_battery_voltage","tab":"f2d0eb86.a50bc8","order":4,"disp":false,"width":"6","collapse":false},{"id":"c591beec.52fac","type":"ui_group","z":"","name":"LSE01_soil_electrical_conductivity","tab":"f2d0eb86.a50bc8","order":2,"disp":false,"width":"6","collapse":false},{"id":"70175d8f.fa6ca4","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"f2d0eb86.a50bc8","type":"ui_tab","z":"","name":"LSE01","icon":"dashboard","disabled":false,"hidden":false}]